/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: black;
  color: #AAAAAA;
  font-family: optima, sans-serif;
}

.header {
  overflow: hidden;
}

.header a {
  float: left;
  background-color: #111111;
  color: #AAAAAA;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 12px;
  border-radius: 4px;
}

.header a:hover {
  background-color: #222222;
  color: #AAAAAA;
}

.header-right{
  top: 0px;
  float: right;
  font-size: 12px;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.center a:link {
  color: #CCCCCC;
  text-decoration: none;
}

.center a:visited {
  color: #AAAAAA;
  text-decoration: none;
}

img.resize{
  text-align: center;
  height: auto;
  width: auto;
  max-height: 33%;
  max-width: 33%;
  border-radius: 5%;
}

img.dsp{
  text-align: center;
  height:auto;
  width:auto;
  max-height: 16%;
  max-width: 16%;
  border-radius: 5%;
}

hr.small {
  border: 1px solid #363636;
  width: 15%;
}

hr.dsp {
  border: 1px solid #363636;
  width: 15%;
}

figcaption {
  text-align: center;
}

table.swag{
  border: 2px solid #DDDDDD;
  background-color: #111111;
  width: 90%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
table.swag td, table.swag th {
  border: 2px solid #AAAAAA;
  padding: 3px 2px;
}
table.swag tbody td {
  font-size: 13px;
  color: #DDDDDD;
}
table.swag thead {
  background: #111111;
  border-bottom: 2px solid #444444;
}
table.swag thead th {
  font-size: 14px;
  font-weight: bold;
  color: #DDDDDD;
  text-align: left;
  border-left: 2px solid #DDDDDD;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #111111;
   color: #DDDDDD;
   text-align: center;
   font-size: 8px;
}